---
import DefaultLayout from '../layouts/default.astro'
---
<DefaultLayout>
    <div class="main">
        <h1 class="text-4xl">Contact</h1>
    </div>
</DefaultLayout>

<style>
.main {
    height: 100vh;
}
</style>
