---
import Slider from '../components/Slider.svelte';
---
<script>
const delay = (n) => new Promise(r => setTimeout(r, n * 1000));

const navigator = (window, totalHeight) => {
    window.addEventListener('scroll',
        async (event) => {
            await delay(0.5);
            const { scrollY } = window
            const currentPosition = Math.round((scrollY / totalHeight) * 100)

            if (currentPosition > 12.5 && currentPosition < 25) {
                document.querySelector('#slide-2').scrollIntoView({
                    behavior: 'smooth'
                });
            }

            if (currentPosition > 37.5 && currentPosition < 50) {
                document.querySelector('#slide-3').scrollIntoView({
                    behavior: 'smooth'
                });
            }

            if (currentPosition > 62.5 && currentPosition < 75) {
                document.querySelector('#slide-4').scrollIntoView({
                    behavior: 'smooth'
                });
            }

        },
        { passive: true }
    )

}

window.onload = () => {
    navigator(window, document.body.scrollHeight)
}


</script>

<head>
	<link rel="stylesheet" href={Astro.resolve("../styles/global.css")} >
</head>

<body>
	<div class="flex justify-end" id="slider">
		<Slider />
	</div>
</body>

<style lang="scss">
html {
	scroll-behavior: smooth;
}
</style>